Hitakshi Ajmera

1.Display float number with 2 decimal places using print()

In [ ]:
num = 76.87663
print("{:.2f}".format(num))

76.88

2. Takes two integer numbers and  return their product.

In [ ]:
num1 = int(input("num1 "))
num2 = int(input("num2 "))
print("Product of number " , num1*num2)

num1 78
num2 9
Product of number  702

3.Write a Python program to get the volume of a sphere with radius 10.

In [ ]:
Radius = 10
sphereVolume = 4/3*3.14*Radius**3
print(sphereVolume)

4186.666666666667

4.Accept two numbers from the user and multiply them together.

In [ ]:
A = int(input("Enter first number : "))
B = int(input("Enter second number : "))

print("Multiplication of Number ", A ," * ",B," = ", A*B)

Enter first number : 12
Enter second number : 56
Multiplication of Number  12  *  56  =  672

5.Write a Python program that accepts an integer (a) and computes the value of a+aa+aaa.

In [ ]:
a=input("Enter a number : ")
sum=0
for i in range(1,4):
  sum = sum + int(str(a*i))
  print(a*i,end=" ")
  if i!=3 :
    print("+",end=" ")

print(" = ",sum)

Enter a number : 9
9 + 99 + 999  =  1107

6.Write a Python program to calculate the length of a string.

In [ ]:
s = "Hitakshi Ajmera"
print("Length of string ", len(s))

Length of string  15

7. Write a Python program to parse a string to Float & Integer

In [ ]:
string = "22.67"
print(type(string))
f = float(string)
print("parse string to float", f)
i = int(f)
print("parse to integer", i)

<class 'str'>
parse string to float 22.67
parse string to integer 22

8.Given two integer numbers return their sum. If the sum is greater than 100, then return their product.

In [ ]:
A = int(input("Enter first number "))
B= int(input("Enter second number "))
sum = A+B
if sum>100:
  print("Product of ",A," and ",B," is ",A*B)
else:
  print("sum of ",A," and ",B,sum)

Enter first number 78
Enter second number 12
sum of  78  and  12 90

9. Write a Python program to calculate the sum of three given numbers, if the values are not - equal then return four times of their sum.

In [ ]:
a=23
b=56
c=12
sum = a+b+c
if a==b and b==c and c==a:
  print("sum of a,b and c is ",sum)
else:
  print("four time of sum of a,b and c is ",4*sum)

four time of sum of a,b and c is  364

10.A shop will give discount of 50% if the cost of purchased quantity is more than 10000. Ask user for quantity suppose, one unit will cost 100. Judge and print total cost for user.

In [ ]:
q = int(input("Enter purchased quantity : "))
cost = q*100
if cost>10000:
  final_cost = cost-(50/100*cost)
  print("Total cost is : ",final_cost)
else:
  print("Total cost is : ",cost)

Enter purchased quantity : 700
Total cost is :  35000.0

11.To check whether a number is divisible by 8 and 12 or not.

In [ ]:
num =int(input("Enter a number: "))
if num%8==0 and num%12:
  print(num," is divisible by 8 and 12")
else:
  print(num," is not divisible by 8 and 12")

Enter a number: 64
64  is divisible by 8 and 12

12.To check whether a given number is even or odd.

In [ ]:
num =int(input("Enter a number: "))
if num%2==0:
  print(num," is even number")
else:
  print(num," is odd number")

Enter a number: 23
23  is odd number

13. Write a program to input marks of five subjects Physics, Chemistry, Biology, Mathematics and Computer. Calculate percentage and grade according to following:
Percentage >= 90% : Grade A
Percentage >= 80% : Grade B
Percentage >= 70% : Grade C
Percentage >= 60% : Grade D
Percentage >= 40% : Grade E
Percentage < 40% :  Grade F

In [ ]:
PM = int(input("Enter marks score in Physics : "))
CM = int(input("Enter marks score in Chemistry : "))
BM = int(input("Enter marks score in Biology : "))
MM = int(input("Enter marks score in Mathematics : "))
CP = int(input("Enter marks score in Computer : "))
Percentage  = (PM+CM+BM+MM+CP)*100/500
if Percentage >= 90:
  print("Grade : A")
elif Percentage >= 80 and Percentage < 90 :
  print("Grade : B")
elif Percentage >= 70 and Percentage < 80:
  print("Grade : C")
elif Percentage >= 60 and Percentage < 70:
  print("Grade : D")
elif Percentage >= 40 and Percentage < 60:
  print("Grade : E")
else: 
  print("Grade : F")

Enter marks score in Physics : 80
Enter marks score in Chemistry : 85
Enter marks score in Biology : 88
Enter marks score in Mathematics : 90
Enter marks score in Computer : 91
Grade : B

14.Take input of age of 3 people by user and determine oldest and youngest among them.

In [ ]:
P1 = int(input("Enter age: "))
P2 = int(input("Enter age: "))
P3 = int(input("Enter age: "))

if (P1>P2) and (P1>P3):
   print("Person 1 is oldest")
   if  P2<P3:
      print("Person 2 is youngest")
   else:
      print("Person 3 is youngest")
if (P2>P1) and (P2>P3):
   print("Person 2 is oldest")
   if  P1<P3:
      print("Person 1 is youngest")
   else:
      print("Person 3 is youngest")
if (P3>P1) and (P3>P2):
  print("Person 3 is oldest")
  if  P1<P2:
      print("Person 1 is youngest")
  else:
      print("Person 2 is youngest")

Enter age: 12
Enter age: 20
Enter age: 15
Person 2 is oldest
Person 1 is youngest

15.Write a program to input electricity unit charges and calculate total electricity bill according to the given condition:
For first 50 units Rs. 0.50/unit
For next 100 units Rs. 0.75/unit
For next 100 units Rs. 1.20/unit
For unit above 250 Rs. 1.50/unit
An additional surcharge of 20% is added to the bill

In [1]:
unit = int(input("Enter electricity unit charges "))
if unit<=50:
  total = unit*0.5
elif unit<50 and unit<=150:
  total = 50*0.5 + (unit-50)*0.75
elif unit<150 and unit<=250:
  total = 50*0.5+100*0.75+(unit-150)*1.2
else:
  total = 50*0.5+100*0.75+100*1.2+(unit-250)*1.5
final = total + (total*0.2)
print("Total electricity bill is ",final)

Enter electricity unit charges 45
Total electricity bill is  27.0

16. A student will not be allowed to sit in exam if his/her attendence is less than 80%.
Take following input from user
Total Number of classes held
Total Number of classes attended. And print percentage of class attended. Is student is allowed to sit in exam or not.

In [2]:
Tch = int(input("Total Number of classes held "))
TCA = int(input("Total Number of classes attended "))
per = TCA*100/Tch
print("Percentage of class attended ",per)
if per<80:
  print("Student not allowed to sit in exam.")
else:
  print("Student allowed to sit in exam.")

Total Number of classes held 120
Total Number of classes attended 100
Percentage of class attended  83.33333333333333
Student allowed to sit in exam.

17. Calculate income tax for the given income by adhering to the below rules
Taxable Income        Rate (in %)
First Rs.10,0000         0
Next Rs. 10,0000       10
The remaining           20

In [3]:
salary = int(input("Enter your salary "))
if salary <= 100000:
  print("Income tax  = 0")
elif salary >100000 and salary <= 200000 :
  tax = (salary-100000)*0.1
  print("Income tax = ",tax)
else:
  tax = (salary - 200000)*0.2 + 100000*0.1
  print("Income tax = ",tax)

Enter your salary 530000
Income tax =  76000.0